---
layout: default
---

<div id="introduction">
	<p><strong>DC7831 / DEF CON Нижний Новгород</strong> — сообщество, объединяющее людей, интересующихся изучением и необычным применением современных технологий, часто в направлении информационной безопасности — то есть всем, что понимается в широком положительном смысле слова «хакинг». Основанное в духе <a href="https://defcongroups.org/dcgfaq.html">группы DEF CON</a>, сообщество открыто для всех, кто желает учиться новому, помогать развиваться другим и просто общаться с людьми с такой же культурой. Хотите о чем-нибудь рассказать? <a href="/cfp.html">Пишите нам</a>!</p>
	<p>Наш сайт доступен в виде скрытого сервиса сети Тор: <a href="http://cn7v542gbwwtblca.onion">cn7v542gbwwtblca.onion</a>.</p>
</div>

<div id="events_table">
	<h2>Встреча 0x08 17-18 февраля</h2>

	<p>Наша восьмая встреча пройдет в формате конференции в выходные 17-18 февраля. Это будет большая встреча, приуроченная к годовщине создания сообщества. На данный момент о программе известно следующее:</p>

	<h2>Воркшопы 17 февраля</h2>

	<ul>
		<li>Выступления товарищей из сообщества <a href="https://dc20e6.ru">DC20e6</a> (Ульяновск) </li>
		<li>Воркшоп по MITM, WiFi, Social Engineering коллективно от нашего сообщества DC7831 </li>
		<li>Программа уточняется.</li>
	</ul>

	<h2>Доклады 18 февраля</h2>

	<p>Начало мероприятия в 11:00 по адресу: ул. Ульянова, 13, офис №201, 2 этаж (Лекторий №1).</p>

	<ul id="talks">
		{% for talk in site.data.meetup_18_02_2018 %}
		{% include talk.html %}
		{% endfor %}
	</ul>

	<h2>Архив встреч за 2017 год</h2>
	<ul>
		<li><a href="{{ "/0x07/" | prepend: site.baseurl }}">Баркэмп 0x07 в пятницу, 8 декабря</a></li>		
		<li><a href="{{ "/zn2017/" | prepend: site.baseurl }}">Хак-квест на ZeroNights 2017, 17 ноября</a></li>
		<li><a href="{{ "/0x06/" | prepend: site.baseurl }}">Встреча 0x06 в субботу, 21 октября</a></li>
		<li><a href="{{ "/0x05/" | prepend: site.baseurl }}">Баркэмп 0x05 в пятницу, 15 сентября</a></li>
		<li><a href="{{ "/0x04/" | prepend: site.baseurl }}">Встреча 0x04 в субботу, 8 июля</a></li>
		<li><a href="{{ "/0x03/" | prepend: site.baseurl }}">Встреча 0x03 в воскресенье, 14 мая</a></li>
		<li><a href="{{ "/0x02/" | prepend: site.baseurl }}">Встреча 0x02 в воскресенье, 2 апреля</a></li>
		<li><a href="{{ "/0x01/" | prepend: site.baseurl }}">Встреча 0x01 в воскресенье, 12 февраля</a></li>
	</ul>
</div>
