---
layout: default
---

<div id="introduction">
	<p><strong>DC7831 / DEF CON Нижний Новгород</strong> — сообщество, объединяющее людей, интересующихся изучением и необычным применением современных технологий, часто в направлении информационной безопасности — то есть всем, что понимается в широком положительном смысле слова «хакинг». Основанное в духе <a href="https://defcongroups.org/dcgfaq.html">группы DEF CON</a>, сообщество открыто для всех, кто желает учиться новому, помогать развиваться другим и просто общаться с людьми с такой же культурой. Хотите о чем-нибудь рассказать? <a href="/cfp.html">Пишите нам</a>!</p>
</div>

<div id="events_table">
  <h1> Встреча 0x0A - третья ежегодная конференция в Нижнем Новгороде </h1>
  
  Вход свободный, но необходимо <a href="https://docs.google.com/forms/d/e/1FAIpQLSfTEqggFRZdIuQdDTR8PpzInLztfxCSyvMvccm3_gcbBSW84Q/viewform">зарегистрироваться</a>.
  
	<h2>День первый. Доклады. 16 февраля 2019г</h2>
  <p> Место проведения: <a href="https://vk.com/sciencenn">Парк науки "Лобачевский Lab"</a> <br/>
			Адрес: Нижний Новгород, ул. Ульянова, 10б </p>
	<ul id="talks">
 		{% for talk in site.data.meetup_16_02_2019 %}
  	{% include talk.html %}
	  {% endfor %}
 	</ul>

	<h2>День Второй. Воркшопы. 17 февраля 2019г</h2>
  <p> Место проведения: <a href="http://nniit.ru">НИИТ</a> <br/>
      Адрес: г. Нижний Новгород, ул. Родионова, 192к1, ауд. 509.</p>
	<ul id="talks">
		{% for talk in site.data.meetup_17_02_2019 %}
		{% include talk.html %}
		{% endfor %}
	</ul>
	<div class="supporters">
		Благодарим сообщество <a href="https://it52.info">IT52</a> за информационную поддержку.
	</div>
  
	<h2>Архив встреч за 2017-2018 годы</h2>
	<ul>
		<li><a href="{{ "/0x09/" | prepend: site.baseurl }}">Встреча 0x09 в субботу, 28 июля 2018г</a></li>
		<li><a href="{{ "/0x08/" | prepend: site.baseurl }}">Встреча 0x08 в выходные, 17-18 февраля 2018г</a></li>
		<li><a href="{{ "/0x07/" | prepend: site.baseurl }}">Баркэмп 0x07 в пятницу, 8 декабря 2017г</a></li>
		<li><a href="{{ "/zn2017/" | prepend: site.baseurl }}">Хак-квест на ZeroNights 2017, 17 ноября</a></li>
		<li><a href="{{ "/0x06/" | prepend: site.baseurl }}">Встреча 0x06 в субботу, 21 октября 2017г</a></li>
		<li><a href="{{ "/0x05/" | prepend: site.baseurl }}">Баркэмп 0x05 в пятницу, 15 сентября 2017г</a></li>
		<li><a href="{{ "/0x04/" | prepend: site.baseurl }}">Встреча 0x04 в субботу, 8 июля 2017г</a></li>
		<li><a href="{{ "/0x03/" | prepend: site.baseurl }}">Встреча 0x03 в воскресенье, 14 мая 2017г</a></li>
		<li><a href="{{ "/0x02/" | prepend: site.baseurl }}">Встреча 0x02 в воскресенье, 2 апреля 2017г</a></li>
		<li><a href="{{ "/0x01/" | prepend: site.baseurl }}">Встреча 0x01 в воскресенье, 12 февраля 2017г</a></li>
	</ul>
</div>
