---
layout: default
---

<div id="introduction">
	<p><strong>DEF CON Нижний Новгород</strong> — сообщество, объединяющее людей, интересующихся изучением и необычным применением современных технологий, часто в направлении информационной безопасности — то есть всем, что понимается в широком положительном смысле слова «хакинг». Основанное в духе <a href="https://defcongroups.org/dcgfaq.html">группы DEF CON</a>, сообщество открыто для всех, кто желает учиться новому, помогать развиваться другим и просто общаться с людьми с такой же культурой.</p>
</div>

<div id="events_table">
	<h2>Встреча 0x01 в воскресенье, 12 февраля. Программа</h2>

	<p>Наша первая встреча пройдет в формате небольшой конференции.</p>

	<ul id="talks">
		{% for talk in site.data.meetup_12_02_2017 %}
		<li{% if talk.css_class %} class="{{ talk.css_class }}"{% endif %}>
			<div class="speakers">
				{% for speaker in talk.speaker %}
				<div class="speaker">
					<div class="speaker-avatar">
						<img src="{{ "/images/avatars/" | append: speaker.avatar | prepend: site.baseurl }}" alt="Фотография">
					</div>
					<div class="speaker-name">
						<strong>{{ speaker.name }}</strong>
						<br>
						{{ speaker.company }}
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="time">
				{{ talk.time }}
			</div>
			<div class="about_talk">
				<strong>{{ talk.title }}</strong><br/>
				{% if talk.description %}
				{{ talk.description }}<br/>
				{% endif %}
				<a href="/meetups/0x01/{{ talk.page }}">Подробнее&nbsp;></a>
			</div>			
		</li>
		{% endfor %}

		<div id="directions">
			<h2>Как добраться</h2>
			Мероприятие пройдет в офисе Яндекса.
		</div>
	</ul>
</div>
