---
layout: default
---

<div id="events_table">
	<h2>Встреча 0x06 в субботу, 21 октября</h2>

	<p>Наша шестая встреча прошла в формате мини-конференции в НИИТе. Поговорили о некоторых аспектах безопасного программирования, про атаки на Wi-Fi, о реверс-инжиниринге прошивок Android, и о том, как проверять Bash-скрипты на ошибки. 
	<p>Список докладов и материалов к ним:</p>

	<ul id="talks">
		{% for talk in site.data.meetup_21_10_2017 %}
		{% include talk.html %}
		{% endfor %}
	</ul>
	<div class="supporters">
		Благодарим сообщество <a href="https://it52.info">IT52</a> за информационную поддержку, компанию <a href="https://www.mera.ru">Мера</a> за предоставленную площадку.
	</div>
</div>
