---
layout: default
---

<div id="events_table">
	<h2>Встреча 0x08 17-18 февраля 2018г</h2>
	<p>Наша восьмая встреча прошла в формате конференции в выходные 17-18 февраля. Это была большая встреча, приуроченная к годовщине создания сообщества.</p>
	
	<p>Список докладов и материалов к ним:</p>

	<h2>День Первый. Воркшопы 17 февраля</h2>
  <p> Место проведения: <a href="http://nniit.ru">НИИТ</a> <br/>
      Адрес: г. Нижний Новгород, ул. Родионова, 192к1, ауд. 509.</p>
	<ul id="talks">
 		{% for talk in site.data.meetup_17_02_2018 %}
  	{% include talk.html %}
	  {% endfor %}
 	</ul>

	<h2>День Второй. Доклады 18 февраля</h2>
	<p> Место проведения: <a href="http://lectoriy-n1.ru">Лекторий №1</a> <br/>
      Адрес: г. Нижний Новгород, ул. Ульянова, д.13, офис №201, 2 этаж. </p>
	<ul id="talks">
		{% for talk in site.data.meetup_18_02_2018 %}
		{% include talk.html %}
		{% endfor %}
	</ul>
	<div class="supporters">
		Благодарим нижегородский <a href="https://cadrspace.ru">хакерспейс CADR</a> за участие со своим стендом, сообщество <a href="https://it52.info">IT52</a> за информационную поддержку.
	</div>
</div>
