---
layout: default
---

<div id="events_table">
	<h2>Встреча 0x04 в субботу, 8 июля</h2>

	<p>Наша четвертая встреча прошла в формате мини-конференции в конференц-зале «RED» отеля IBIS. Поговорили о BitCoin и других криптовалютах, о том, почему не стоит доверять свои данные Андроид-телефонам, почему случайные числа не всегда могут быть случайными, и о сценариях атак на протокол TLS.</p>

	<p>Список докладов и материалов к ним:</p>

	<ul id="talks">
		{% for talk in site.data.meetup_08_07_2017 %}
		{% include talk.html %}
		{% endfor %}
	</ul>
	<div class="supporters">
		Благодарим сообщество <a href="https://it52.info">IT52</a> за информационную поддержку.
	</div>
</div>
