---
layout: default
---

<div id="events_table">
	<h2>Встреча 0x01 прошла 12 февраля</h2>

	<p>Наша первая встреча прошла в формате небольшой конференции в нижегородском офисе Яндекса.</p>

	<p>Список докладов и материалов к ним:</p>

	<ul id="talks">
		{% for talk in site.data.meetup_12_02_2017 %}
		<li{% if talk.css_class %} class="{{ talk.css_class }}"{% endif %}>
			<div class="speakers">
				{% for speaker in talk.speaker %}
				<div class="speaker">
					<div class="speaker-avatar">
						<img src="{{ "/images/avatars/" | append: speaker.avatar | prepend: site.baseurl }}" alt="Фотография">
					</div>
					<div class="speaker-name">
						<strong>{{ speaker.name }}</strong>
						<br>
						{{ speaker.company }}
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="time">
				{{ talk.time }}
			</div>
			<div class="about_talk">
				<strong>{{ talk.title }}</strong><br/>
				{% if talk.description %}
				{{ talk.description }}<br/>
				{% endif %}
				<a href="{{ talk.page | prepend: site.baseurl }}">Подробнее&nbsp;></a>
			</div>			
		</li>
		{% endfor %}
	</ul>
	<div class="supporters">
		<p>Материалы и помощь в организации</p>
		<ul class="logos">
			<li><a href="https://cadrspace.ru"><img alt="CADR" src="{{ "/images/logos/cadrspace.svg" | prepend: site.baseurl }}" height="90" /></a></li>
			<li><a href="http://paranoid-security.com"><img alt="Paranoid Security" src="{{ "/images/logos/paranoid.svg" | prepend: site.baseurl }}" height="90" /></a></li>
			<li><a href="https://maidsafe.net"><img alt="MaidSafe" src="{{ "/images/logos/maidsafe.svg" | prepend: site.baseurl }}" height="50" /></a></li>
		</ul>

		<p>Помещение и информационная поддержка</p>
		<ul class="logos">
			<li><a href="https://yandex.ru"><img alt="Яндекс" src="{{ "/images/logos/yandex.svg" | prepend: site.baseurl }}" height="55" /></a></li>
		</ul>

		<p>Информационная поддержка</p>
		<ul class="logos">
			<li><a href="https://it52.info"><img alt="IT52" src="{{ "/images/logos/it52.jpg" | prepend: site.baseurl }}" height="100" /></a></li>
		</ul>
	</div>
</div>
