<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Exo+2:400,400i,600,600i&subset=cyrillic,latin-ext" rel="stylesheet">
		<link rel="icon" type="image/png" href="{{ "/images/favicon.png" | prepend: site.baseurl }}" />
		<link type="text/css" href="{{ "/css/main.css" | prepend: site.baseurl }}?v=18-10-2017" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1 id="logo">
				<a href="{{ site.baseurl }}/" class="unstyled_link"><img src="{{ "/images/logo.svg" | prepend: site.baseurl }}" alt="DEF CON / Нижний Новгород" height="200" /></a>
			</h1>
			<div id="top_menu">
				<ul>
					<li>
						<a href="{{ site.baseurl }}/">Встречи</a>
					</li>
					<li>
						<a href="{{ "/ctf.html" | prepend: site.baseurl }}">CTF</a>
					</li>
					<li>
						<a href="{{ "/speakers.html" | prepend: site.baseurl }}">Докладчики</a>
					</li>
					<li>
						<a href="{{ "/about.html" | prepend: site.baseurl }}">О&nbsp;сообществе</a>
					</li>
					<li>
						<a href="{{ "/cfp.html" | prepend: site.baseurl }}">Заявка на&nbsp;доклад</a>
					</li>
					<li>
						<a href="{{ "/ethics.html" | prepend: site.baseurl }}">Этика</a>
					</li>
				</ul>
			</div>
		</header>

		{{ content }}

		<div id="contacts">
			<ul id="contact_list">
				<li>
					<span class="inline_icon icon-telegram">Телеграм:</span>
					<a href="https://t.me/defcon_nn">@defcon_nn</a>
				</li>
				<li>
					<span class="inline_icon icon-vk">ВК:</span>
					<a href="https://vk.com/defcon_nn">defcon_nn</a>
				</li>
				<li>
					<span class="inline_icon icon-twitter">Твиттер:</span>
					<a href="https://twitter.com/defcon_nn">@defcon_nn</a>
				</li>
                <li>
                    <span class="inline_icon icon-email"></span>Список рассылки:
                    <a href="https://groups.google.com/forum/#!forum/defcon-nn">defcon-nn@googlegroups.com</a>
                </li>
			</ul>
		</div>
	</body>
</html>

