<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Exo+2:400,400i,600,600i&subset=cyrillic,latin-ext" rel="stylesheet">
		<link rel="icon" type="image/png" href="{{ "/images/favicon.png" | prepend: site.baseurl }}" />
		<link type="text/css" href="{{ "/css/main.css" | prepend: site.baseurl }}" rel="stylesheet">
	</head>
	<body>
		<header>
			<div id="top_menu">
				<ul>
					<li>
						<a href="{{ site.baseurl }}">Встречи</a>
					</li>
					<li>
						<a href="{{ "/about.html" | prepend: site.baseurl }}">О сообществе</a>
					</li>
				</ul>

				<div id="logo">
					<h1>
						DEF CON
						<span>/ Нижний&nbsp;Новгород</span>
					</h1>
				</div>
			</div>

			<div id="place_and_time">
				<table>
					<tr>
						<td><div id="map_pointer"></div></td>
						<td>
							<span id="current_event_date">Встреча 0x01</span><br>
							<span id="current_event_time">12 февраля в 12:00</span><br>
							<span id="current_event_place">Ковалихинская, 8</span>
						</td>
					</tr>
				</table>
			</div>

		</header>

		{{ content }}

		<div id="contacts">
			<h2>Социальные сети и группы</h2>

			<ul id="contact_list">
				<li>
					<span class="inline_icon icon-telegram"></span>Телеграм:
					<a href="https://t.me/defcon_nn">@defcon_nn</a>
				</li>
				<li>
					<span class="inline_icon icon-vk"></span>ВК:
					<a href="https://vk.com/defcon_nn">defcon_nn</a>
				</li>
				<li>
					<span class="inline_icon icon-twitter"></span>Твиттер:
					<a href="https://twitter.com/defcon_nn">@defcon_nn</a>
				</li>
			</ul>

			<hr/>

			<p>По любым организационным вопросам и с любыми предложениями пишите на &nbsp;<span class="inline_icon icon-email"></span>&nbsp;<a href="mailto:org@defcon-nn.ru">org@defcon-nn.ru</a>.</p>
		</div>
	</body>
</html>

