<!DOCTYPE html>
<html>
	<head>
		<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Exo+2:400,400i,600,600i&subset=cyrillic,latin-ext" rel="stylesheet">
		<link rel="icon" type="image/png" href="{{ "/images/favicon.png" | prepend: site.baseurl }}" />
		<link type="text/css" href="{{ "/css/main.css" | prepend: site.baseurl }}" rel="stylesheet">
	</head>
	<body>
		<header>
			<h1 id="logo">
				<img src="{{ "/images/logo.svg" | prepend: site.baseurl }}" alt="DEF CON / Нижний Новгород" height="200" />
			</h1>
			<div id="top_menu">
				<ul>
					<li>
						<a href="{{ site.baseurl }}/">Встречи</a>
					</li>
					<li>
						<a href="{{ "/ctf.html" | prepend: site.baseurl }}">CTF</a>
					</li>
					<li>
						<a href="{{ "/about.html" | prepend: site.baseurl }}">О сообществе</a>
					</li>
					<li>
						<a href="{{ "/ethics.html" | prepend: site.baseurl }}">Этика</a>
					</li>
				</ul>
			</div>
		</header>

		{{ content }}

		<div id="contacts">
			<h2>Социальные сети и группы</h2>

			<ul id="contact_list">
				<li>
					<span class="inline_icon icon-telegram"></span>Телеграм:
					<a href="https://t.me/defcon_nn">@defcon_nn</a>
				</li>
				<li>
					<span class="inline_icon icon-vk"></span>ВК:
					<a href="https://vk.com/defcon_nn">defcon_nn</a>
				</li>
				<li>
					<span class="inline_icon icon-twitter"></span>Твиттер:
					<a href="https://twitter.com/defcon_nn">@defcon_nn</a>
				</li>
			</ul>

			<hr/>

			<p>По любым организационным вопросам и с любыми предложениями пишите на &nbsp;<span class="inline_icon icon-email"></span>&nbsp;<a href="mailto:org@defcon-nn.ru">org@defcon-nn.ru</a>.</p>
		</div>
	</body>
</html>

