---
layout: default
---
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$','$']],
      processEscapes: true
    }
  });
  </script>
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<h1>{{ page.title }}</h1>
<p>
    <div class="speaker-short">
        <div class="speaker-name">
            <strong>{{ site.data.speakers[page.author].name }}</strong> опубликовал {% include date-ru.html date=page.date%} в блоге
            <a href="{{ site.data.blogs[page.category].link }}">{{ site.data.blogs[page.category].name }}</a>
        </div>
    </div>
</p>

{{ content }}

{% for speaker_id in page.author %}
  {% comment %}
    Если спикер не найден в базе, то используем данные как есть
  {% endcomment %}
  {% if site.data.speakers[speaker_id] %}
    {% assign speaker = site.data.speakers[speaker_id] %}
  {% else %}
    {% assign speaker = speaker_id %}
  {% endif %}
  {% include speaker-full.html speaker=speaker %}
{% endfor %}
